<!DOCTYPE HTML>
<html ng-app="deanApp">
<head>
    <title>Dean McPherson</title>
    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/prism.css">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/angular-ui-ieshiv.min.js"></script>
    <script type="text/javascript" src="javascripts/angular-ui.js"></script>
    <script type="text/javascript" src="javascripts/Showdown.js"></script>
    <script type="text/javascript" src="javascripts/prism.js"></script>
<body>
<a href="/logout" style="position: absolute; top:0; right:0; padding:1em;">Logout</a>
    <div id="list" class="admin" ng-controller="FeedCtrl">
        <h1 style="text-align:center;">Admin</h1>
        <article class="new-panel single row" ng-show="isAdmin">
            <div ng-click="addMode(true)" ng-hide="adding" class="btn add">Add a new post</div>
             <div ng-click="addMode(false)" ng-show="adding"  class="btn quit">Quit</div>
             <span ng-show="adding">
            <input type='text' ng-model='newItem.name' placeholder="name"/><br />
            <input type='text'  ng-model='newItem.category'  placeholder="category"/><br />
			Hidden? <input type="checkbox" ng-model='newItem.hidden'><br />
			Feature Article? <input type="checkbox" ng-nodel='newItem.featured'><br />
            <markdown cont="newItem.content"></markdown>
            <textarea x-editor ng-model="newItem.contentTmp" placeholder="Write your post in markdown here..."></textarea>
             <div class="btn" ng-hide="newItem.imageFlag" ng-click="imageFlag(true, newItem)">Uploads</div>
                 <div class="files" ng-show="newItem.imageFlag">
				 <div class="btn" ng-click="imageFlag(false, newItem)">Close Uploads</div>
                <div class="btn upload"><input type="file" name="image" style="opacity: 0; position: absolute;" upload-file></input>Upload a file</div>
                 <ul class="newImages images">
					<li ng-repeat="image in newImages | filter:isImage:reverse" style="background:url({{image.path}});">
						<div ng-click="addImageToContent(newItem)" class="btn">+</div>
                        <div ng-click="featureImageToggle(newItem, true)" class="btn fi">Featured Image</div>
                    </li>
                </ul>
                <ul class="images">
				 <li ng-repeat="image in images | filter:isImage" style="background:url({{image.path}});">
						<div ng-click="addImageToContent(newItem)" class="btn">+</div>
                        <div ng-click="featureImageToggle(newItem, true)" class="btn fi">Featured Image</div>               
                    </li>
                </ul>
                <ul class="files">
                    <li ng-repeat="image in images | filter:!isImage">
                        <a ng-click="addImageToContent(newItem)">{{image.name}}</a>
                    </li>
                </ul>
            </div>
			<div ng-click="copyContent(newItem)"  class="btn preview">Preview</div>
            <div ng-click="addNew()"  class="btn save">Save</div>
			<message>{{item.message}}</message>
         </span>
        </article>
		<div class="row"><input type="textbox" ng-model="search.name" placeholder="Search"/></div>
        <article class="panel single row" ng-repeat="item in items | orderBy:'_id':true | filter:search">
				   <div class="one-quarter">
						<div class="meta">
					 <div class="featuredImage">
					 <div class="featuredImageInner" ng-show="item.featureImage" style="background-image:url({{item.featureImage}});"></div>
					 <div class="featuredImageInner" ng-hide="item.featureImage" style="background-image:url(/images/default.png);"></div>
				   </div>
					 <ul>
						<li>Dean McPherson</li>
						<li>{{item.date | date:"longDate"}}</li>
						<li ng-show="item.category">    About {{prepareCategories(item.category)}}</li>
					 </ul>
					 </div>
				 </div>
				 <div class="three-quarters">
         <h1>{{item.name}}</h1>
			<span ng-hide="item.edit">
                <div ng-show="isAdmin" ng-click="editMode(item, true)"  class="btn edit">Edit</div>
                <div ng-click="remove()" ng-show="isAdmin"  class="btn delete">Delete</div>
            </span>
            <span ng-show="item.edit">
                <div ng-show="isAdmin" ng-click="editMode(item, false)"  class="btn close">Close</div>
				 <markdown cont="item.content" class="previewBox"></markdown>
				 <input type='text' ng-model='item.name' placeholder="name"/><br />
				<input type='text'  ng-model='item.category'  placeholder="category"/><br />
				<label>Hidden?</label><input type="checkbox" ng-model='item.hidden'><br />
				<label>Feature Article?</label><input type="checkbox" ng-nodel='item.featured'><br />
                <textarea x-editor ng-model="item.contentTmp"></textarea>
				<div class="btn" ng-hide="item.imageFlag" ng-click="imageFlag(true)">Uploads</div>
                 <div class="files" ng-show="item.imageFlag">
				 <div class="btn" ng-click="imageFlag(false)">Close Uploads</div>
				 <div class="btn upload"><input type="file" name="image" style="opacity: 0; position: absolute;" upload-file></input>Upload a file</div>
                 <ul class="newImages images">
					<li ng-repeat="image in newImages | filter:isImage:reverse" style="background:url({{image.path}});">
						<div ng-click="addImageToContent(item)" class="btn">+</div>
                        <div ng-click="featureImageToggle(item, true)" class="btn fi">Featured Image</div>
                    </li>
                </ul>
                <ul class="images">
				 <li ng-repeat="image in images | filter:isImage" style="background:url({{image.path}});">
						<div ng-click="addImageToContent(item)" class="btn">+</div>
                        <div ng-click="featureImageToggle(item, true)" class="btn fi">Featured Image</div>
                    </li>
                </ul>
                <ul class="files">
                    <li ng-repeat="image in images | filter:!isImage">
                        <a ng-click="addImageToContent(item)">{{image.name}}</a>
                    </li>
                </ul>
            </div>
			<div ng-click="copyContent(item)" class="btn preview">Preview</div>
                <div ng-click="save()" ng-show="isAdmin"  class="btn save">Save</div>
            </span>
			</div>
    </article>
</body>
<footer>
     <script src="javascripts/app.js"></script>
</footer>	
</html>