<!DOCTYPE HTML>
<html ng-app="deanApp">
<head>
    <title>Dean McPherson</title>
    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/prism.css">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/angular-ui-ieshiv.min.js"></script>
    <script type="text/javascript" src="javascripts/angular-ui.js"></script>
    <script type="text/javascript" src="javascripts/Showdown.js"></script>
    <script type="text/javascript" src="javascripts/prism.js"></script>
<body>
    <div id="list" ng-controller="FeedCtrl">
     <input type="file" name="image"></input>
 </form>
        <h1>List</h1>
        <div class="new-panel" ng-show="isAdmin">
            <div ng-click="addMode(true)" ng-hide="adding">Add a new post</div>
             <div ng-click="addMode(false)" ng-show="adding">Quit</div>
             <span ng-show="adding">
            <input type='text' ng-model='new.name' placeholder="name"/><br />
            <input type='text'  ng-model='new.weight'  placeholder="weight"/><br />
            <input type='checkbox'  ng-model='new.hidden'  placeholder="hidden"/><br />
            <input type='text'  ng-model='new.category'  placeholder="category"/><br />
            <markdown cont="new.content"></markdown>
            <textarea x-editor ng-model="new.content"></textarea>
            <div ng-click="addNew()">Save</div>
         </span>
        </div>
        <div class="panel" ng-repeat="item in items | orderBy:'_id':true"  >
             <h1>{{item.name}}</h1>
            <span ng-hide="item.edit">
                <div class="edit" ng-show="isAdmin" ng-click="editMode(item, true)">Edit</div>
                <markdown cont="item.content"></markdown>
                <div class="delete" ng-click="remove()" ng-show="isAdmin">delete</div>
            </span>
            <span ng-show="item.edit">
                <div class="close" ng-show="isAdmin" ng-click="editMode(item, false)">Close</div>
                <markdown cont="item.content"></markdown>
                <textarea x-editor ng-model="item.content"></textarea>
                <div class="save" ng-click="save()" ng-show="isAdmin">Save</div>
            </span>
            <hr />
    </div>
</body>
<footer>
     <script src="javascripts/app.js"></script>
     <script>
    $(document).ready(function(){
        (function () {
        var input =     $('[name="image"]')[0], 
            formdata = false;

        function showUploadedItem (source) {
        console.log(source);
        }   
        
        input.addEventListener("change", function (evt) {
            console.log('uploading');
            var formdata = new FormData();
            var i = 0, len = this.files.length, img, reader, file;
        
            for ( ; i < len; i++ ) {
                file = this.files[i];
        
                if (!!file.type.match(/image.*/)) {
                    if ( window.FileReader ) {
                        reader = new FileReader();
                        reader.onloadend = function (e) { 
                            showUploadedItem(e.target.result, file.fileName);
                        };
                        reader.readAsDataURL(file);
                    }
                    if (formdata) {
                        formdata.append("file", file);
                    }
                }   
            }
        
            if (formdata) {
                $.ajax({
                    url: "/upload",
                    type: "POST",
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        console.log(res);
                    }
                });
            }
        }, false);
        }());
    });
     </script>
</footer>	
</html>