 <div id="wrapper" ng-controller="FeedCtrl">
        <article class="panel row single">
             <div class="one-quarter">
                <div class="meta">
             <div class="featuredImage">
             <div class="featuredImageInner" ng-show="item.featureImage" style="background-image:url({{item.featureImage}});"></div>
             <div class="featuredImageInner" ng-hide="item.featureImage" style="background-image:url(/images/default.png);"></div>
           </div>
             <ul>
                <li>Dean McPherson</li>
                <li>{{item.date | date:"longDate"}}</li>
                <li ng-show="item.category">About {{prepareCategories(item.category)}}</li>
             </ul>
             </div>
         </div><div class="three-quarters">
         <h1>{{item.name}}</h1>
            <markdown cont="item.content"></markdown>
			<div class="links">
			Share<br/>
			<a href="https://twitter.com/share?url=http://deanmcpherson.com/{{item.slug}}" via="@dean_mcpherson" target="_blank">Twitter</a><br>
			<a href="https://www.linkedin.com/cws/share?url=http://deanmcpherson.com/{{item.slug}}" target="_blank">LinkedIn</a><br>
			<a ng-click="FB_Share(item)">Facebook</a>
			</div>
        </div>
        </article>
    </div>